/* * {
    box-sizing: border-box;
  } */

  /* .outputcontainer {
    width: 75%;
    float: left;
  } */



  /* .outputDiv {
    width: 75%;
    float: right;
  } */

h2 {
    color: black;
    -webkit-text-stroke: 1px black;
    font-family: 'Almendra Display';
    font-size:200%;
    /* display: flex;
    justify-content: flex-end; */
    
}

#whatToDo {
  color: black;
  -webkit-text-stroke: 1px black;
  font-family: 'Almendra Display';
  font-size:200%;
  display: flex;
  justify-content: center;
}


#plants {
    height: 3.5%;
    width: 3.5%;
  }
  #plantsL {
    height: 2.9%;
    width: 2.9%;
  }

  #plantsS {
    height:3.9%;
    width: 3.9%;
  }

  .leafContainer {
    display: flex;
    vertical-align: middle;
    justify-content: space-between;
    margin-bottom: -1%;
    
  }
  h1 {
    color: black;
    -webkit-text-stroke: 1.5px black;
    font-family: 'Almendra Display';
    font-size:300%;
    display: flex;
    justify-content: space-around;
}

  input {
    font-size:14px;
    color:black;
    font-family: Verdana, sans-serif;
    width:65%;
}

#theform {
    color: black;
    -webkit-text-stroke: 1.5px black;
    font-family: 'Almendra Display';
    font-size:150%;
    width: 100%;  
    float: left;
  margin-top: 0%;
}

/* this does nothing?!! */
#formButtons{ 
  font-size:150%;
    width: 100%; 
    display: flex;
    justify-content: space-evenly; 

}


body {
	background: linear-gradient(270deg, #828f7d, #b3b47e, #a1999a, #5c9c74);
	background-size: 600% 600%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}

.buttoncontainer {
  display: flex;
    vertical-align: top;
    justify-content: center;
    margin-bottom: 0%;
}

