
body {
	background: linear-gradient(270deg, #828f7d, #b3b47e, #a1999a, #5c9c74);
	background-size: 600% 600%;
	-webkit-animation: Gradient 60s ease infinite;
	-moz-animation: Gradient 60s ease infinite;
	animation: Gradient 60s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}